/* *************************************************************************** */
/*#region : UTILITIES */
.ms_img-banner {
    object-fit: cover;
    object-position: center;
    width: auto;
}
/*#endregion : UTITLITIES */
/* *************************************************************************** */


/* *************************************************************************** */
/*#region : Global elements layout and defaults */
/*end#region : Global elements layout and defaults */
/* *************************************************************************** */


/* *************************************************************************** */
/*#region : BLOCKS */

/* ************************************ */
/*#region : sony-header */
.sony-header img {
    width: 70px;
}
/*#endregion : sony-header */

/* ************************************ */
/*#region : nav-bar */
/*#endregion : nav-bar */

/* ************************************ */
/*#region : carousel */
.hero-carousel-img {
    min-height: 500px;
}
/*#endregion : carousel */

/* ************************************ */
/*#region : popular-games */
.ms_game-banner {
    min-height: 400px;
}
/*#endregion : popular-games */

/*#endregion : BLOCKS */
/* *************************************************************************** */


/* *************************************************************************** */
/*#region : MEDIA-QUERIES */
/*#endregion : MEDIA-QUERIES */
/* *************************************************************************** */